@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");

body {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to left, #00a7ff 0%, #00bc3f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-input {
  border: none;
  height: 4vh;
  padding-left: 5px;
  min-width: 300px;
  font-size: 16px;
  border-radius: 2.5px;
}

.custom-list a {
  margin-bottom: 7px;
  text-decoration: none;
}

@media (max-width: 576px) {
  section {
    padding-left: 10px;
  }
  h1 {
    font-size: 2.25rem;
  }
}
