:root {
  --cream: #eaecef;
  --dark: #3e4147;
  --orange: #cc4425;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Jost", sans-serif;
  background: var(--cream);
  color: var(--dark);
}

section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section p {
  font-size: 6.4rem;
  font-weight: 500;
}

.typed-text {
  color: var(--orange);
}

.cursor {
  width: 0.3rem;
  background-color: var(--dark);
  display: inline-block;
  margin-left: 0.2rem;
}

.cursor.typing {
  animation: none;
}
