/* Initial */
:root {
  --cream: #eaecef;
  --dark: #3e4147;
  --orange: #cc4425;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Jost", sans-serif;
  background: var(--cream);
  color: var(--dark);
}

/* Section */

section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section p {
  font-size: 6.4rem;
  font-weight: 500;
}

.typed-text {
  color: var(--orange);
}

.cursor {
  width: 0.3rem;
  background-color: var(--dark);
  display: inline-block;
  margin-left: 0.2rem;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.6rem;
}

footer a {
  color: var(--orange);
  text-decoration: none;
}

/* Animation */

@keyframes blink {
  0% {
    background: var(--dark);
  }

  50% {
    background: var(--cream);
  }
  100% {
    background: var(--dark);
  }
}
